html, body, header, main, footer, section, article, figure, div, ul, li, h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, li, button, p {
    font-family: "Poppins", Helvetica, serif;
}

h1, h2, h3, h4, li, p, a {
    color: white;
}

a {
    text-decoration: none;
}

body {
    background-color: rgb(15, 15, 17);
}



    /* ------------ LIENS RESEAUX ------------ */
.liens_reseaux {
    position: relative;
    z-index: 1;
    display: flex;
    list-style-type: none;
}

.liens_reseaux li {
    position: relative;
    left: -3px;
    top: -3px;
    transition: text-shadow 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
}

.liens_reseaux li:hover {
    left: -1px;
    top: -1px;
}

.liens_reseaux li:active {
    left: 0px;
    top: 0px;
    transition: none;
}



    /* ------------ HEADER ------------ */
header {
    padding: 10%;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}



    /* ------------ HEADER - NAVIGATION ------------ */
#bandeau-nav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    padding-left: 5%;
    background-color: white;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

#bandeau-nav h2 {
    display: none;
}


#logo {
    height: 95%;
}

#logo img {
    height: 100%;
}

nav {
    width: 100%;
    height: 50%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0 10%;
    height: 100%;
}

nav li {
    width: 25%;
    height: 100%;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 400;
}


nav li:not(:last-child) {
    border-right: 1px solid rgb(50, 50, 55);
}

nav li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: black;
}

nav li a::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 100%;
    border-radius: 100px;
}

nav li a:hover::after {
    background-image: radial-gradient(rgba(0, 0, 51, 0.2), rgba(0, 0, 0, 0) 70%);
}

#page_actuelle {
    text-decoration: underline solid rgb(66, 108, 190) 4px;
    text-underline-position: under;
}



/* ------------ HEADER - TITRE + VIDEO ------------ */
#background_video {
    z-index: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    min-height: 90%;
    min-width: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
    background: url("medias/images/background_header.jpg") no-repeat;
    background-size: cover;
}

#degrade_video {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background-image: linear-gradient(rgba(15, 15, 50, 0), rgba(15, 15, 17, 1) 90%, rgba(255, 255, 255, 1));
}

header h1 {
    position: relative;
    z-index: 1;
    font-size: 13em;
    font-variant: small-caps;
    margin-top: 10%;
    margin-bottom: 2%;
}

header .liens_reseaux {
    z-index: 1;
    width: 35%;
    margin-top: 50px;
    margin-left: 65%;
    flex-direction: row-reverse;
    justify-content: space-around;
    font-size: 5em;
}

header .liens_reseaux li {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

header .liens_reseaux li:hover {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

header .liens_reseaux li:active {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
}



    /* ------------ SEPARATEUR ------------ */
#separateur {
    background: url("medias/images/separation_header.png") no-repeat top center;
    background-size: 100% 100%;
    width: 100%;
    height: 200px;
    max-height: 25%;
}

#separateur hr {
    display: none;
}



    /* ------------ MAIN ------------ */
main {
    margin: 75px;
    margin-bottom: 150px;
}

main section {
    align-items: center;
    margin-bottom: 200px;
}

.ligne_flex {
    display: flex;
}

.bloc_texte {
    padding: 0 5%;
}

.bloc_texte.alignement_droit {
    order: 1;
}

main h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: 100px;
}

main h3 {
    margin-bottom: 30px;
    font-variant: small-caps;
    font-size: 2.5em;
    text-decoration: underline solid rgb(66, 108, 190);
    text-underline-position: under;
}

main h4 {
    margin-bottom: 30px;
    margin-left: 3%;
    font-variant: small-caps;
    font-size: 2em;
    font-style: italic;
}

main p, main li {
    font-weight: 200;
    font-size: 1.4em;
    text-align: justify;
}

main li {
    margin-top: 10px;
    margin-left: 5%;
    padding-left: 2%;
}

main figure {
    flex-grow: 2;
}

main figure img {
    max-width: 100%;
}



/* ------------ MAIN - SOUTIEN ------------ */
#soutien, #soutien p {
    text-align: center;
}

#bouton_cagnotte {
    margin: 200px 0 150px;
    padding: 10px 25px;
    background: none;
    border: 3px solid white;
    border-radius: 25px;
    color: white;
    font-size: 1.3em;
    font-weight: 500;
    transition: background 0.3s linear, color 0.3s linear;
}

#bouton_cagnotte:hover {
    background: white;
    color: rgb(15, 15, 17);
    cursor: pointer;
}

#soutien figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    margin: auto;
    background-color: white;
    border-radius: 100%;
    overflow: hidden;
}

#soutien figure img {
    width: 300px;
}

#soutien .liens_reseaux {
    width: 40%;
    margin: 50px auto;
    justify-content: space-around;
    font-size: 3em;
}

#soutien .liens_reseaux li {
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 0.2);
}

#soutien .liens_reseaux li:hover {
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.2);
}

#soutien .liens_reseaux li:active {
    text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.2);
}



/* ------------ FOOTER ------------ */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
    border-top: 4px solid white;
    background-color: rgb(25, 25, 40);
}

footer h3 {
    margin-bottom: 25px;
    font-variant: small-caps;
    font-size: 1.5em;
}

footer li {
    margin-left: 25px;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 0.8em;
}

#copyrights {
    width: 100%;
    margin: 25px;
    text-align: center;
    font-weight: 500;
}



/* ------------ RESPONSIVE ------------ */
@media all and (min-width: 0px) and (max-width: 800px) {
    header {
        background: white url("medias/images/fond_accueil_responsive.png") no-repeat center 75%;
        background-size: 90%;
        padding: 0;
    }

    #bandeau-nav {
        position: fixed;
        top: 0;
        background-color: rgb(15, 15, 17);
    }

    #bandeau-nav h2 {
        display: block;
    }

    #logo {
        padding-top: 0;
        height: 100%;
        width: auto;
        border-radius: 100%;
        background-color: white;
        overflow: hidden;
    }

    nav {
        width: 80%;
    }

    nav ul {
        position: absolute;
    }

    nav li {
        font-variant: small-caps;
        font-size: 1.5em;
        font-weight: 500;
    }

    nav li:hover {
        font-weight: 600;
    }

    nav li a {
        color: black;
    }

    * {
        border: 1px solid red;
    }
}
